body{
    background-color:#eff7f1;
}
h1{
    text-align: center;
    font-size: 70px;
    height: 50px;
}
h2{
    text-align:center;
}
hr{
    color:black;
    width:60%;
}
a {
    color: black;
    text-decoration: none;
}
img{
    width:300px;
    height:auto;
    border:solid;
    border-width:1.5px;
    box-shadow:5px 5px 5px gray;
}

.mainparagraph {
    margin-left: 20%;
    margin-right:40%;
}
.mainparagraph p{
    text-indent: 10%;
    right:30px;
    text-align: justify;
}
.odd{
    float:left;
}
.even{
    float:right;
}
#credit {
    text-align:center;
    font-style: italic;
}

#links {
    text-align: center;
    /*background-color: #cacfcb;*/
    height:50px;
}
