body{
    background-color:#eff7f1;
}
h1{
    text-align: center;
    font-size: 70px;
    height: 50px;
}
h2{
    text-align:center;
}
hr{
    color:black;
    width:60%;
}
a {
    color: black;
    text-decoration: none;
}
img{
    width:37.5%;
    height:auto;
    border:solid;
    border-width:1.5px;
    box-shadow:-5px 5px 5px gray;
}
iframe{
    text-align: center;
    width:100%;
}
main{
    margin-left: 20%;
    margin-right:40%;
}

.odd{
    float:left;
}
.even{
    float:right;
}
.content{
    text-indent: 5%;
}
.oddcontent {
    margin-left:40%;
}
.evencontent {
    margin-right:40%;
}

#credit {
    text-align:center;
    font-style: italic;
}

#links {
    text-align: center;
    /*background-color: #cacfcb;*/
    height:50px;
}

/*Makes the link bold when you hover over it*/
a:hover{
    font-weight: bolder;
}
