body{
    background-color:#d7dbd8;
}

h1{
    text-align: center;
    font-size: 70px;
    height: 50px;
}

hr{
    color:black;
    width:60%;
}

a {
    color: black;
    text-decoration: none;
}

#credit {
    text-align:center;
    font-style: italic;
}

#links {
    text-align: center;
}
